/* ================ GOOGLE FONTS ================ */
@import url('https://fonts.googleapis.com/css2?family=Georama:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');



/* ================ BASE ================ */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georama', sans-serif;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    
}



.nav__center {
    position: fixed;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25rem;
    box-shadow: 0px 0px 15px hsl(175, 66%, 80%);
    background-color: white;
}

.nav__center h3{
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 300;
    color: hsl(198, 84%, 67%);
}

.nav__center li {
    display: inline-block;
    margin: 0 2rem;

}

.nav__center a {
    font-family: 'Georama', sans-serif;
    font-weight: 400;
    color: black;
    border-bottom: 2px solid transparent;
    transition: .3s ease;
}

.nav__center a:hover{
    border-bottom: 2px solid crimson;

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5rem;
    background-color: white;
}

.container h2{
    font-size: 1.5rem;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    text-align: center;
    background-color: darkcyan;
}

.container button {
    padding: 7px 10px;
    text-transform: uppercase;
    font-family: 'Georama', sans-serif;
    font-weight: 400;
    border-radius: 7px;
}

