/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-boxl;    
    /* font-weight: normal; */
    font-family: 'Space Mono', monospace;
    font-size: 7px;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient( 90deg, #00AAFF, #00FF6C);
}

.calc__grid {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat( 4, 80px);
    grid-template-rows:  minmax( 100px, 110px) repeat( 5, 70px);
    grid-gap: 7px;
}

.calc__grid > button {
    cursor: pointer;
    font-size: 3rem;
    border: 1px solid white;
    color: black;
    outline: none;
    background-color: rgba( 255, 255, 255, .7);
    text-align: center;
    transition: .1s linear all;
    display: inline-block;
    border-radius: 10px;
}

.calc__grid > button:hover {
    background-color: rgba( 255, 255, 255, .9);
    transform: scale(1.03);
    font-size: calc( 3 * 1.03rem);
}

.span_two {
    grid-column: span 2;
}

.output {
    background: rgba( 0, 0, 0, .8);
    grid-column: span 4;
    align-self: stretch;
    border-radius: 10px;
    color: white;
    display: grid;
    grid-template-rows: repeat( 2, 1fr);
}

.output > div {
    padding-right: 10px;
    font-size: 3.6rem;
    justify-self: end;
    align-self: center;
}


