/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Klee One', cursive;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 10vh;
    align-items: center;
    margin: auto;
}


.nav__links {
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.nav__links, 
h1 {
    flex: 1;
}


.cursor{
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate( -50%, -50%);
    pointer-events: none;
}

.link_grow {
    width: 3rem;
    height: 3rem;
    transform: scale(1.2) translate( -50%, -50%);
    background: black;

} 