@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* font-family: 'Dancing Script', cursive; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.sidebar{
    width: 250px;
    height: 100vh;
    font-size: 1.6rem;
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(191, 243, 243, 0.322);
    position: relative;
    left: -100%;
    transition: .5s ease;
}

.sidebar__logo{
    width: 100%;
    font-size: 2rem;
    color: rgba(89, 120, 207, 0.9);
    text-transform: capitalize;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
}

.sidebar__logo::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: transparent;
    top: 100%;
    left: 0%;
    box-shadow: 0px 5px 10px rgb(15, 75, 60);
}

.sidebar__link {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 1.2rem;
}

.sidebar__link li {
    list-style: none;
    text-align: center;
    position: relative;
    left: -100%;
    /* animation: sideLinkMoveLeft .5s ease forwards; */
}




.sidebar__link a{
    width: 100%;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.4rem;
    position: relative;
    transition: all .3s ease;
}

.sidebar__link a::after{
    position: absolute;
    content: '';
    width: 120%;
    height: 2px;
    top: 100%;
    left: 0%;
    background: transparent;
    transform: translateX(-10%);
    border-radius: .5rem;
    transition: .5s ease;
}

.sidebar__link a:hover:after{
    background: rgba(6, 100, 77, 0.459);
    animation: sidebarLinkMoveLeft .3s ease forwards;
}





@keyframes sidebarLinkMoveLeft {
    from{
        left: -400%;
        opacity: 0;
    }
    to{
        left: 0%;
        opacity: 1;
    }
}


@keyframes sideLinkMoveLeft {
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}


.sidebar__burger {
    position: absolute;
    top: 7%;
    left: 93%;
    cursor: pointer;
    transition: .3s ease;
}

.sidebar__burger:hover{
    animation: rotateClose .5s ease forwards;
}

.sidebar__burger div{
    width: 20px;
    height: 2px;
    margin: 3px;
    background-color: crimson;
    transition: .3s ease;
}


.toggle .line1{
    transform: rotate(-45deg) translate( -3px, 3px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate( -4px, -4px);        
}


@keyframes rotateClose {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}



@media screen and ( max-width: 767px){
    body{
        /* background: crimson; */
    }

    .sidebar{
        width: 50%;
    }

    .sidebar__logo{
        font-size: 1.4rem;
    }

  
    .sidebar__burger{
        position: absolute;
        top: 8%;
        left: 86%;
    }
}
